body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}

.body-container {
    background: #f0f2fa;
    height: 100vh;
}

.site-list-item {
    padding: 10px;
    background: #f3f6fd;
    color: #383838;
    margin: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.site-list-item:hover {
    background: #ffffff;
}
#popup-space{
  font-family: 'Roboto', sans-serif;
  width: 200px;
}

#target_div {
    margin-left: 330px;
    width: calc(100% - 330px);
    background: #f0f2fa;
    position:relative;
}

.site-card{
    height:100px;
    width:100px;
    background: #fff;
    position:relative;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: all 0.3s ease;
}

.site-card-wrap{margin:20px;display: inline-block;width: 100px;cursor:pointer;margin-bottom: 0;}

.site-card-wrap:hover .site-card{
    transform:translateY(-10px);
    box-shadow: 0px 20px 35px -16px #2d81b121;
}

.site-card img{
    height :60px;
}

.site-card-item-count{
    position:absolute;
    transform:translate(40%,40%);
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    bottom:0;
    right:0;
    background: #3B99FC;
    border-radius:100%;
    height:25px;
    width:25px;
    
}
#dashboard-overlay{
    height:100vh;
    width:100%;
    position: fixed;
    top: 0;
}

#dashboard-site-modal{
    padding:30px;
}

.overlay{
    background:#000000;
    opacity:0;
    position: absolute;
    z-index:-10;
}

.modal{
    display: none;
    position:absolute;
    left:50%;
    top:50%;
    background: #fff;
    z-index: 11;
    width:450;
    min-height: 180px;
    max-height: 650px;
    transform: translateX(-50%);
}

.modal.show{
    display: block;
}

.overlay.show{
    visibility:visible;
    opacity:0.5;
    transition: opacity 0.3s ease;
    z-index: 10;
}
.modal-item{
    display:flex;
    justify-content:space-between;
    padding:10px;
    color: #5d5d5d;
    cursor: pointer;
}
.modal-item-title {
    width: 410px;
    white-space :nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.modal-item-remove{
    opacity:0;
    font-weight:400;
    cursor:pointer;
    transition: opacity 0.1s ease;
}
.modal-item:hover {color: #000;}

.modal-item:hover .modal-item-remove{
    opacity:1;
}
.dashboard-left-bar{
    width: 330px;
    height: 100vh;
    background: #ffffff;
    position: fixed;
}

.dashboard-left-bar-footer{
    position:absolute;
    bottom:0px;
    padding:20px 20px 30px 20px;
}

.dashboard-left-bar-categories{
    position:absolute;
    top:40%;
    /* width: 100%; */
    padding:20px;
}
.dashboard-left-bar-header{
    padding:20px
}
.categories-item{
    font-weight: 500;
    width: 280px;
    font-size: 17px;
    border-radius: 4px;
    justify-content: space-between;
    cursor:pointer;
    display: flex;
    padding: 10px;
    margin-bottom:2px;
}

.modal-site-img {
    width: 60px;
    height: 60px;
}
.modal-header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom:40px;
}
.modal-header-title{
    /* margin-left: -100px; */
    font-size: 1.5rem;
}

.all-content-wrap{
    width:100%;
    padding: 30px;
}
.item-card{
    margin: 10px;
    width: 200px;
    box-sizing: border-box;
}

.item-card-image {
    height: 60px;
    width: 60px;
    margin: 30px auto;
    padding: 10px;
    box-sizing: border-box;
}

.icon-card-close {
    position: absolute;
    opacity: 0;
    right: 13px;
    cursor: pointer;
    top: 13px;
    transition: opacity 0.3s ease;
    color: rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 15px;
}

.item-card-title {
    width: 200px;
    position: relative;
    text-overflow: ellipsis;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.item-card-wrap {
    position: relative;
    display: inline-block;
    background: #fff;
    margin: 10px;
    box-shadow: 0px 20px 35px -16px #2d81b121;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.search-bar {
    float: left;
    cursor: pointer;
}

.full-page-options {
    margin-left: 330px;
    padding: 40px;
    display: flex;
    align-items: center;
}

.tab-options {
    display: flex;
    position: absolute;
    color: #00000080;
    right: 10%;
    width: 200px;
    justify-content: space-between;
}

.tab-option-separator {
    color: #00000030;
}

.open-all {
    cursor: pointer;
}

.remove-all {
    cursor: pointer;
}

.site-list-title {
    padding: 15px;
    background: #f5f5f7;
}

div#open-all-of-this-site {color: #00000090;}

div#open-all-of-this-site:hover {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.modal-item a {
    text-decoration: none;
    color: unset;
}

.search-bar input[type="text"] {
    border-radius: 25px;
    border: 1px solid #adadad;
    padding: 10px;
    outline: none;
    color: #000000d6;
    background: #f0f2fa;
    width: 250px;
}

.item-card-wrap-outer {display: inline-block;}

.item-card-wrap-outer:hover .item-card-wrap {
    transform: translateY(-10px);
    box-shadow: 0px 20px 35px -16px #2d81b121;
}

.item-card-wrap:after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 37px;
    z-index: 2;
    left: 0;
    height: 1px;
    background: #adadad47;
}

#domain-list {
    background: #f3f6fd;
    margin: 10px;
    padding: 10px;
}

#domain-list .site-list-item {
    padding: 10px;
    border: 1px solid #e3e3e3;
}

.count-class {
    background: #3b98fc;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.7;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100%;
}

.remove-site {
    position: absolute;
    top: 6px;
    right: 6px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.site-name {
    width: 100%;
    overflow: hidden;
    padding: 10px 5px 0px 5px;
    box-sizing: border-box;
    color: #8e8989;
    text-transform: capitalize;
    text-overflow: ellipsis;
}

.item-card-wrap:hover .icon-card-close {
    opacity: 1;
}

.site-card:hover .remove-site {
    opacity: 1;
}