<html>

<head>
    <title>Dashboard - Tabs Manager</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/corousel.css" rel="stylesheet">
</head>

<body>
    <div class="body-container">
        <div class="dashboard-left-bar">
            <div class="dashboard-left-bar-header">
                <div class="logo-img">
                    <img height="36px" src="../assets/logo.png" />
                </div>
                <div id="extension-name">Tabs Manager</div>
            </div>
            <div class="dashboard-left-bar-categories">
                <div data-category="all" class="categories-item">Varied
                    <div id="all-count" class="count-class"></div>
                </div>
                <div data-category="similar" class="categories-item">Similar
                    <div id="site-count" class="count-class"></div>
                </div>
            </div>

            <div class="dashboard-left-bar-footer">

                <div class="footer-item">
                    <div id="take-a-tour" style="cursor:pointer;" >Take a tour</div>
                </div>
                <div class="footer-item">
                    <a style="cursor:pointer;text-decoration: none;color:#000;" target="_blank" href="https://chrome.google.com/webstore/detail/infinite-tabs-manager/hjpahkeoabpccidknfdepajnfjncjiep/reviews">Leave a feedback</a>
                </div>
            </div>
        </div>
        <div class="full-page-options">
            <div class="search-bar">
                <input type="text" id="search-bar" placeholder="Search" />

            </div>
            <div class="tab-options">
                <div id="open-all-tabs" class="open-all">
                    Open These Tabs
                </div>
                <div class="tab-option-separator">|</div>
                <div id="remove-all-tabs" class="remove-all">
                    Remove These Tabs
                </div>
            </div>
        </div>
        <div id="target_div"></div>
    </div>
    <div id="corousel-wrap-wrap">
        <div class="corousel-wrap">
            <div class="w3-content w3-display-container">
                <img class="mySlides" src="../assets/tour/1.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/2.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/3.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/4.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/5.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/6.png" style="width:100%">
                <img class="mySlides" src="../assets/tour/7.png" style="width:100%">

                <button id="btn-l" class="w3-button w3-black w3-display-left">&#10094;</button>
                <button id="btn-r" class="w3-button w3-black w3-display-right">&#10095;</button>
            </div>
        </div>
    </div>
    <script src="../scripts/dashboard.js"></script>
</body>

</html>
