<html>
    <head>
        <title>Dashboard - Organize Tabs</title>
        <link href="../css/sty le.css" rel="stylesheet">
    </head>
    <body>
        <div class="body-container" >
        <div class="dashboard-left-bar" >
            <div class="categories" >
                <div data-category="all" class="categories-item" >All</div>
                <div data-category="similar" class="categories-item" >Similar</div>
            </div>
        </div>
        <div id="target_div" ></div>
    </div>
        <script src="../scripts/dashboard.js" ></script>
    </body>
</html>